<div class="col">
  <a href="{% if book.redirect %}{{ book.redirect }}{% else %}{{ book.url | relative_url }}{% endif %}">
    <div class="card h-100 hoverable">
      {% if book.img %}
        {%
          include figure.liquid
          loading="eager"
          path=book.img
          sizes = "250px"
          alt="book thumbnail"
          class="card-img-top"
        %}
      {% endif %}
      <div class="card-body">
        <h2 class="card-title">{{ book.title }}</h2>
        <p class="card-text">{{ book.description }}</p>
      </div>
    </div>
  </a>
</div>
