<div class="col-sm mt-3 mt-md-0 text-center">
  <table
    class="table table-sm table-bordered mx-auto verbs-fixed-colors"
    style="max-width: 780px; width: 100%; table-layout: fixed; --bs-table-color: #000"
  >
    <thead>
      <tr>
        <th style="text-align: left; padding-left: 12px; background-color: #b8e7b9">INDICATIU</th>
        <th style="text-align: left; padding-left: 12px; background-color: #e7e7e7">INFINITIU</th>
        <th style="text-align: left; padding-left: 12px; background-color: #eceb95">SUBJUNTIU</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">PASSAT INDEFINIT</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">haver cantat</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95">PASSAT PERFET</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-bottom: none">he cantat</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7; font-weight: 700">GERUNDI</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95; border-bottom: none">haj-a cantat</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">has cantat</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7; border-bottom: none">havent cantat</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95; border-top: none; border-bottom: none">hag-es cantat</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">ha cantat</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7; border-top: none; border-bottom: none">&nbsp;</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95; border-top: none; border-bottom: none">haj-a cantat</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">hem / hav-em cantat</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7; border-top: none; border-bottom: none">&nbsp;</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95; border-top: none; border-bottom: none">hàg-em cantat</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">heu / hav-eu cantat</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7; border-top: none; border-bottom: none">&nbsp;</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95; border-top: none; border-bottom: none">hàg-eu cantat</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none">han cantat</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7; border-top: none">&nbsp;</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95; border-top: none">hag-en cantat</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">&nbsp;</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">&nbsp;</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95">&nbsp;</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">PASSAT PLUSQUAMPERFET</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">PASSAT ANTERIOR</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95">PASSAT PLUSQUAMPERFET</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-bottom: none">hav-i-a cantat</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-bottom: none">hagu-í cantat</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95; border-bottom: none">hagu-e-ra / hagu-és cantat</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">hav-i-es cantat</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">hagu-e-res cantat</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95; border-top: none; border-bottom: none">hagu-e-res / hagu-ess-es cantat</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">hav-i-a cantat</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">hagu-é cantat</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95; border-top: none; border-bottom: none">hagu-e-ra / hagu-és cantat</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">hav-í-em cantat</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">hagu-é-rem cantat</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95; border-top: none; border-bottom: none">hagu-é-rem / hagu-éss-em cantat</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">hav-í-eu cantat</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">hagu-é-reu cantat</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95; border-top: none; border-bottom: none">hagu-é-reu / hagu-éss-eu cantat</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none">hav-i-en cantat</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none">hagu-e-ren cantat</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95; border-top: none">hagu-e-ren / hagu-ess-en cantat</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">&nbsp;</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">&nbsp;</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">&nbsp;</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">FUTUR PERFET</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">CONDICIONAL</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">PASSAT PERIFRÀSTIC</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-bottom: none">hau-r-é cantat</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-bottom: none">hau-r-ia cantat</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-bottom: none">vaig cantar</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">hau-r-às cantat</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">hau-r-ies cantat</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">vas cantar</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">hau-r-à cantat</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">hau-r-ia cantat</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">va cantar</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">hau-r-em cantat</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">hau-r-iem cantat</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">anem cantar</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">hau-r-eu cantat</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">hau-r-ieu cantat</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">aneu cantar</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none">hau-r-an cantat</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none">hau-r-ien cantat</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none">van cantar</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: transparent; border: hidden">&nbsp;</td>
        <td style="text-align: left; padding-left: 12px; background-color: transparent; border: hidden">&nbsp;</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-left: hidden">PASSAT ANTERIOR PERIFRÀSTIC</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: transparent; border: hidden">&nbsp;</td>
        <td style="text-align: left; padding-left: 12px; background-color: transparent; border: hidden">&nbsp;</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-left: hidden; border-bottom: none">vaig haver cantar</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: transparent; border: hidden">&nbsp;</td>
        <td style="text-align: left; padding-left: 12px; background-color: transparent; border: hidden">&nbsp;</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-left: hidden; border-top: none; border-bottom: none">vas haver cantar</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: transparent; border: hidden">&nbsp;</td>
        <td style="text-align: left; padding-left: 12px; background-color: transparent; border: hidden">&nbsp;</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-left: hidden; border-top: none; border-bottom: none">va haver cantar</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: transparent; border: hidden">&nbsp;</td>
        <td style="text-align: left; padding-left: 12px; background-color: transparent; border: hidden">&nbsp;</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-left: hidden; border-top: none; border-bottom: none">anem haver cantar</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: transparent; border: hidden">&nbsp;</td>
        <td style="text-align: left; padding-left: 12px; background-color: transparent; border: hidden">&nbsp;</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-left: hidden; border-top: none; border-bottom: none">aneu haver cantar</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: transparent; border: hidden">&nbsp;</td>
        <td style="text-align: left; padding-left: 12px; background-color: transparent; border: hidden">&nbsp;</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-left: hidden; border-top: none">van haver cantar</td>
      </tr>
    </tbody>
  </table>
  <br />
</div>
