<div class="col-sm mt-3 mt-md-0 text-center">
  <table
    class="table table-sm table-bordered mx-auto verbs-fixed-colors"
    style="max-width: 780px; width: 100%; table-layout: fixed; --bs-table-color: #000"
  >
    <thead>
      <tr>
        <th style="text-align: left; padding-left: 12px; background-color: #b8e7b9">INDICATIU</th>
        <th style="text-align: left; padding-left: 12px; background-color: #e7e7e7">INFINITIU</th>
        <th style="text-align: left; padding-left: 12px; background-color: #eceb95">SUBJUNTIU</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">PRESENT</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">perd-re</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95">PRESENT</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-bottom: none">perd / perd-o</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7; font-weight: 700">GERUNDI</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95; border-bottom: none">perd-a</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">perd-s</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7; border-bottom: none">perd-ent</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95; border-top: none; border-bottom: none">perd-es</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">perd</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7; border-top: none">&nbsp;</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95; border-top: none; border-bottom: none">perd-a</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">perd-em</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7; font-weight: 700">PARTICIPI</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95; border-top: none; border-bottom: none">perd-em</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">perd-eu</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7; border-bottom: none">perd-ut, perd-uda</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95; border-top: none; border-bottom: none">perd-eu</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none">perd-en</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7; border-top: none">perd-uts, perd-udes</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95; border-top: none">perd-en</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">&nbsp;</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">&nbsp;</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95">&nbsp;</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">PASSAT IMPERFET</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">PASSAT SIMPLE</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95">PASSAT IMPERFET</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-bottom: none">perd-i-a</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-bottom: none">perd-í</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95; border-bottom: none">perd-e-ra / perd-és</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">perd-i-es</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">perd-e-res</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95; border-top: none; border-bottom: none">perd-e-res / perd-ess-es</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">perd-i-a</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">perd-é</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95; border-top: none; border-bottom: none">perd-e-ra / perd-és</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">perd-í-em</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">perd-é-rem</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95; border-top: none; border-bottom: none">perd-é-rem / perd-éss-em</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">perd-í-eu</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">perd-é-reu</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95; border-top: none; border-bottom: none">perd-é-reu / perd-éss-eu</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none">perd-i-en</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none">perd-e-ren</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95; border-top: none">perd-e-ren / perd-ess-en</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">&nbsp;</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">&nbsp;</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">&nbsp;</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">FUTUR</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">CONDICIONAL</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7; font-weight: 700">IMPERATIU</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-bottom: none">perd-r-é</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-bottom: none">perd-r-ia</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7; border-bottom: none">&nbsp;</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">perd-r-às</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">perd-r-ies</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7; border-top: none; border-bottom: none">perd</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">perd-r-à</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">perd-r-ia</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7; border-top: none; border-bottom: none">perd-a</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">perd-r-em</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">perd-r-íem</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7; border-top: none; border-bottom: none">perd-em</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">perd-r-eu</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">perd-r-íeu</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7; border-top: none; border-bottom: none">perd-eu</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none">perd-r-an</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none">perd-r-ien</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7; border-top: none">perd-en</td>
      </tr>
    </tbody>
  </table>
  <br />
</div>
