<div class="col-sm mt-3 mt-md-0 text-center">
  <table
    class="table table-sm table-bordered mx-auto verbs-fixed-colors"
    style="max-width: 780px; width: 100%; table-layout: fixed; --bs-table-color: #000"
  >
    <thead>
      <tr>
        <th style="text-align: left; padding-left: 12px; background-color: #b8e7b9">INDICATIU</th>
        <th style="text-align: left; padding-left: 12px; background-color: #e7e7e7">INFINITIU</th>
        <th style="text-align: left; padding-left: 12px; background-color: #eceb95">SUBJUNTIU</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">PASSAT INDEFINIT</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">haver perdut</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95">PASSAT PERFET</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-bottom: none">he perdut</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7; font-weight: 700">GERUNDI</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95; border-bottom: none">haj-a perdut</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">has perdut</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7; border-bottom: none">havent perdut</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95; border-top: none; border-bottom: none">hag-es perdut</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">ha perdut</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7; border-top: none; border-bottom: none">&nbsp;</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95; border-top: none; border-bottom: none">haj-a perdut</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">hem / hav-em perdut</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7; border-top: none; border-bottom: none">&nbsp;</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95; border-top: none; border-bottom: none">hàg-em perdut</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">heu / hav-eu perdut</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7; border-top: none; border-bottom: none">&nbsp;</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95; border-top: none; border-bottom: none">hàg-eu perdut</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none">han perdut</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7; border-top: none">&nbsp;</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95; border-top: none">hag-en perdut</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">&nbsp;</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">&nbsp;</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95">&nbsp;</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">PASSAT PLUSQUAMPERFET</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">PASSAT ANTERIOR</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95">PASSAT PLUSQUAMPERFET</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-bottom: none">hav-i-a perdut</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-bottom: none">hagu-í perdut</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95; border-bottom: none">hagu-e-ra / hagu-és perdut</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">hav-i-es perdut</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">hagu-e-res perdut</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95; border-top: none; border-bottom: none">hagu-e-res / hagu-ess-es perdut</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">hav-i-a perdut</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">hagu-é perdut</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95; border-top: none; border-bottom: none">hagu-e-ra / hagu-és perdut</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">hav-í-em perdut</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">hagu-é-rem perdut</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95; border-top: none; border-bottom: none">hagu-é-rem / hagu-éss-em perdut</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">hav-í-eu perdut</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">hagu-é-reu perdut</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95; border-top: none; border-bottom: none">hagu-é-reu / hagu-éss-eu perdut</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none">hav-i-en perdut</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none">hagu-e-ren perdut</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95; border-top: none">hagu-e-ren / hagu-ess-en perdut</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">&nbsp;</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">&nbsp;</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">&nbsp;</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">FUTUR PERFET</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">CONDICIONAL</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">PASSAT PERIFRÀSTIC</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-bottom: none">hau-r-é perdut</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-bottom: none">hau-r-ia perdut</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-bottom: none">vaig perdre</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">hau-r-às perdut</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">hau-r-ies perdut</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">vas perdre</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">hau-r-à perdut</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">hau-r-ia perdut</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">va perdre</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">hau-r-em perdut</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">hau-r-iem perdut</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">anem perdre</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">hau-r-eu perdut</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">hau-r-ieu perdut</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">aneu perdre</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none">hau-r-an perdut</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none">hau-r-ien perdut</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none">van perdre</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #c8c0b6; border-right: none; border-bottom: none">&nbsp;</td>
        <td style="text-align: left; padding-left: 12px; background-color: #c8c0b6; border-left: none; border-bottom: none">&nbsp;</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">PASSAT ANTERIOR PERIFRÀSTIC</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #c8c0b6; border-right: none; border-top: none; border-bottom: none">&nbsp;</td>
        <td style="text-align: left; padding-left: 12px; background-color: #c8c0b6; border-left: none; border-top: none; border-bottom: none">&nbsp;</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-bottom: none">vaig haver perdre</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #c8c0b6; border-right: none; border-top: none; border-bottom: none">&nbsp;</td>
        <td style="text-align: left; padding-left: 12px; background-color: #c8c0b6; border-left: none; border-top: none; border-bottom: none">&nbsp;</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">vas haver perdre</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #c8c0b6; border-right: none; border-top: none; border-bottom: none">&nbsp;</td>
        <td style="text-align: left; padding-left: 12px; background-color: #c8c0b6; border-left: none; border-top: none; border-bottom: none">&nbsp;</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">va haver perdre</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #c8c0b6; border-right: none; border-top: none; border-bottom: none">&nbsp;</td>
        <td style="text-align: left; padding-left: 12px; background-color: #c8c0b6; border-left: none; border-top: none; border-bottom: none">&nbsp;</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">anem haver perdre</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #c8c0b6; border-right: none; border-top: none; border-bottom: none">&nbsp;</td>
        <td style="text-align: left; padding-left: 12px; background-color: #c8c0b6; border-left: none; border-top: none; border-bottom: none">&nbsp;</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">aneu haver perdre</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #c8c0b6; border-right: none; border-top: none">&nbsp;</td>
        <td style="text-align: left; padding-left: 12px; background-color: #c8c0b6; border-left: none; border-top: none">&nbsp;</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none">van haver perdre</td>
      </tr>
    </tbody>
  </table>
  <br />
</div>
