<div class="col-sm mt-3 mt-md-0 text-center">
  <table
    class="table table-sm table-bordered mx-auto verbs-fixed-colors"
    style="max-width: 780px; width: 100%; table-layout: fixed; --bs-table-color: #000"
  >
    <thead>
      <tr>
        <th style="text-align: left; padding-left: 12px; background-color: #b8e7b9">INDICATIU</th>
        <th style="text-align: left; padding-left: 12px; background-color: #e7e7e7">INFINITIU</th>
        <th style="text-align: left; padding-left: 12px; background-color: #eceb95">SUBJUNTIU</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">PRESENT</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">dold-er</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95">PRESENT</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">dol-<u>c</u></td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7; font-weight: 700">GERUNDI</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95">dol-<u>g</u>a</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">dol-s</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">dol-ent</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95">dol-<u>gu</u>es</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">dol</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7; font-weight: 700">PARTICIPI</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95">dol-<u>g</u>a</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">dol-em</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">dol-<u>g</u>ut, dol-<u>g</u>uda</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95">dol-<u>gu</u>em</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">dol-eu</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">dol-<u>g</u>uts, dol-<u>g</u>udes</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95">dol-<u>gu</u>eu</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">dol-en</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">&nbsp;</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95">dol-<u>gu</u>en</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">&nbsp;</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">&nbsp;</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95">&nbsp;</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">PASSAT IMPERFET</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">PASSAT SIMPLE</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95">PASSAT IMPERFET</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">dol-i-a</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">dol-<u>gu</u>í</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95">dol-<u>gu</u>e-ra / dol-<u>gu</u>és</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">dol-i-es</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">dol-<u>gu</u>e-res</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95">dol-<u>gu</u>e-res / dol-<u>gu</u>ess-es</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">dol-i-a</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">dol-<u>gu</u>é</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95">dol-<u>gu</u>e-ra / dol-<u>gu</u>és</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">dol-í-em</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">dol-<u>gu</u>é-rem</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95">dol-<u>gu</u>é-rem / dol-<u>gu</u>éss-em</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">dol-í-eu</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">dol-<u>gu</u>é-reu</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95">dol-<u>gu</u>é-reu / dol-<u>gu</u>éss-eu</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">dol-i-en</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">dol-<u>gu</u>e-ren</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95">dol-<u>gu</u>e-ren / dol-<u>gu</u>ess-en</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">&nbsp;</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">&nbsp;</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">&nbsp;</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">FUTUR</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">CONDICIONAL</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7; font-weight: 700">IMPERATIU</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">dol-dr-é</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">dol-dr-ia</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">&nbsp;</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">dol-dr-às</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">dol-dr-ies</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">dol</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">dol-dr-à</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">dol-dr-ia</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">dol-<u>g</u>a</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">dol-dr-em</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">dol-dr-íem</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">dol-<u>gu</u>em</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">dol-dr-eu</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">dol-dr-íeu</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">dol-<u>gu</u>eu</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">dol-dr-an</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">dol-dr-ien</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">dol-<u>gu</u>en</td>
      </tr>
    </tbody>
  </table>
  <br />
</div>
