<div class="col-sm mt-3 mt-md-0 text-center">
  <table
    class="table table-sm table-bordered mx-auto verbs-fixed-colors"
    style="max-width: 780px; width: 100%; table-layout: fixed; --bs-table-color: #000"
  >
    <thead>
      <tr>
        <th style="text-align: left; padding-left: 12px; background-color: #b8e7b9">INDICATIU</th>
        <th style="text-align: left; padding-left: 12px; background-color: #e7e7e7">INFINITIU</th>
        <th style="text-align: left; padding-left: 12px; background-color: #eceb95">SUBJUNTIU</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">PRESENT</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">con-éix-er</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95">PRESENT</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">con-e-ç</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7; font-weight: 700">GERUNDI</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95">con-e-ga</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">con-e-ix-es</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">con-e-ix-ent</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95">con-e-gues</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">con-e-ix</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">&nbsp;</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95">con-e-ga</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">con-e-ix-em</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7; font-weight: 700">PARTICIPI</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95">con-e-guem</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">con-e-ix-eu</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">con-e-gut, con-e-guda</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95">con-e-gueu</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">con-e-ix-en</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">con-e-guts, con-e-gudes</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95">con-e-guen</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">&nbsp;</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">&nbsp;</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95">&nbsp;</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">PASSAT IMPERFET</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">PASSAT SIMPLE</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95">PASSAT IMPERFET</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">con-e-ix-i-a</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">con-e-guí</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95">con-e-gue-ra / con-e-gués</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">con-e-ix-i-es</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">con-e-gue-res</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95">con-e-gue-res / con-e-guess-es</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">con-e-ix-i-a</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">con-e-gué</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95">con-e-gue-ra / con-e-gués</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">con-e-ix-í-em</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">con-e-gué-rem</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95">con-e-gué-rem / con-e-guéss-em</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">con-e-ix-í-eu</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">con-e-gué-reu</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95">con-e-gué-reu / con-e-guéss-eu</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">con-e-ix-i-en</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">con-e-gue-ren</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95">con-e-gue-ren / con-e-guess-en</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">&nbsp;</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">&nbsp;</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">&nbsp;</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">FUTUR</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">CONDICIONAL</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7; font-weight: 700">IMPERATIU</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">con-e-ix-er-é</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">con-e-ix-er-ia</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">&nbsp;</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">con-e-ix-er-às</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">con-e-ix-er-ies</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">con-e-ix</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">con-e-ix-er-à</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">con-e-ix-er-ia</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">con-e-ga</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">con-e-ix-er-em</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">con-e-ix-er-íem</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">con-e-guem</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">con-e-ix-er-eu</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">con-e-ix-er-íeu</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">con-e-ix-eu</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">con-e-ix-er-an</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">con-e-ix-er-ien</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">con-e-guen</td>
      </tr>
    </tbody>
  </table>
  <br />
</div>
