<div class="col-sm mt-3 mt-md-0 text-center">
  <table
    class="table table-sm table-bordered mx-auto verbs-fixed-colors"
    style="max-width: 780px; width: 100%; table-layout: fixed; --bs-table-color: #000"
  >
    <thead>
      <tr>
        <th style="text-align: left; padding-left: 12px; background-color: #b8e7b9">INDICATIU</th>
        <th style="text-align: left; padding-left: 12px; background-color: #e7e7e7">INFINITIU</th>
        <th style="text-align: left; padding-left: 12px; background-color: #eceb95">SUBJUNTIU</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">PRESENT</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">cau-re</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95">PRESENT</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">cai-ç</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7; font-weight: 700">GERUNDI</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95">cai-ga</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">cau-s</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">cai-ent / caent</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95">cai-gues</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">cau</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7; font-weight: 700">PARTICIPI</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95">cai-ga</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">cai-em / ca-em</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">caigut, caiguda</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95">cai-guem</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">cai-eu / ca-eu</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">caiguts, caigudes</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95">cai-gueu</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">cau-en</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">&nbsp;</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95">cai-guen</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">&nbsp;</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">&nbsp;</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95">&nbsp;</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">PASSAT IMPERFET</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">PASSAT SIMPLE</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95">PASSAT IMPERFET</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">que-i-a</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">cai-guí</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95">cai-gue-ra / cai-gués</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">que-i-es</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">cai-gue-res</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95">cai-gue-res / cai-guess-es</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">que-i-a</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">cai-gué</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95">cai-gue-ra / cai-gués</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">que-í-em</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">cai-gué-rem</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95">cai-gué-rem / cai-guéss-em</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">que-í-eu</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">cai-gué-reu</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95">cai-gué-reu / cai-guéss-eu</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">que-i-en</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">cai-gue-ren</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95">cai-gue-ren / cai-guess-en</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">&nbsp;</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">&nbsp;</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">&nbsp;</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">FUTUR</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">CONDICIONAL</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7; font-weight: 700">IMPERATIU</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">cau-r-é</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">cau-r-ia</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">&nbsp;</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">cau-r-às</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">cau-r-ies</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">cau</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">cau-r-à</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">cau-r-ia</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">cai-ga</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">cau-r-em</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">cau-r-íem</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">cai-guem</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">cau-r-eu</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">cau-r-íeu</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">cai-gueu</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">cau-r-an</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">cau-r-ien</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">cai-guen</td>
      </tr>
    </tbody>
  </table>
  <br />
</div>
