<div class="col-sm mt-3 mt-md-0 text-center">
  <table
    class="table table-sm table-bordered mx-auto verbs-fixed-colors"
    style="max-width: 780px; width: 100%; table-layout: fixed; --bs-table-color: #000"
  >
    <thead>
      <tr>
        <th style="text-align: left; padding-left: 12px; background-color: #b8e7b9">INDICATIU</th>
        <th style="text-align: left; padding-left: 12px; background-color: #e7e7e7">INFINITIU</th>
        <th style="text-align: left; padding-left: 12px; background-color: #eceb95">SUBJUNTIU</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">PRESENT</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">dorm-ir</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95">PRESENT</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">dorm / dorm-o</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7; font-weight: 700">GERUNDI</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95">dorm-a</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">dorm-s</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">dorm-int</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95">dorm-es</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">dorm</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7; font-weight: 700">PARTICIPI</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95">dorm-a</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">dorm-im</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">dorm-it, dorm-ida</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95">dorm-im</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">dorm-iu</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">dorm-its, dorm-ides</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95">dorm-iu</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">dorm-en</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">&nbsp;</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95">dorm-en</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">&nbsp;</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">&nbsp;</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95">&nbsp;</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">PASSAT IMPERFET</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">PASSAT SIMPLE</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95">PASSAT IMPERFET</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">dorm-i-a</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">dorm-í</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95">dorm-i-ra / dorm-ís</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">dorm-i-es</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">dorm-i-res</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95">dorm-i-res / dorm-iss-es</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">dorm-i-a</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">dorm-í</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95">dorm-i-ra / dorm-ís</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">dorm-í-em</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">dorm-í-rem</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95">dorm-i-rem / dorm-íss-em</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">dorm-í-eu</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">dorm-í-reu</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95">dorm-i-reu / dorm-íss-eu</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">dorm-i-en</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">dorm-i-ren</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95">dorm-i-ren / dorm-iss-en</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">&nbsp;</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">&nbsp;</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">&nbsp;</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">FUTUR</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">CONDICIONAL</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7; font-weight: 700">IMPERATIU</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">dorm-ir-é</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">dorm-ir-ia</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">&nbsp;</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">dorm-ir-às</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">dorm-ir-ies</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">dorm</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">dorm-ir-à</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">dorm-ir-ia</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">dorm-a</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">dorm-ir-em</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">dorm-ir-íem</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">dorm-im</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">dorm-ir-eu</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">dorm-ir-íeu</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">dorm-iu</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">dorm-ir-an</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">dorm-ir-ien</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">dorm-en</td>
      </tr>
    </tbody>
  </table>
  <br />
</div>
