<div class="col-sm mt-3 mt-md-0 text-center">
  <table
    class="table table-sm table-bordered mx-auto verbs-fixed-colors"
    style="max-width: 780px; width: 100%; table-layout: fixed; --bs-table-color: #000"
  >
    <thead>
      <tr>
        <th style="text-align: left; padding-left: 12px; background-color: #b8e7b9">INDICATIU</th>
        <th style="text-align: left; padding-left: 12px; background-color: #e7e7e7">INFINITIU</th>
        <th style="text-align: left; padding-left: 12px; background-color: #eceb95">SUBJUNTIU</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">PRESENT</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">serv-ir</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95">PRESENT</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">serv-isc / serv-esc</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7; font-weight: 700">GERUNDI</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95">serv-isc-a / serv-esc-a</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">serv-eix-es / serv-ix-es</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">serv-int</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95">serv-isqu-es / serv-esqu-es</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">serv-eix / serv-ix</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7; font-weight: 700">PARTICIPI</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95">serv-isc-a / serv-esc-a</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">serv-im</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">serv-it, serv-ida</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95">serv-im</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">serv-iu</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">serv-its, serv-ides</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95">serv-iu</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">serv-eix-en / serv-ix-en</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">&nbsp;</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95">serv-isqu-en / serv-esqu-en</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">&nbsp;</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">&nbsp;</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95">&nbsp;</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">PASSAT IMPERFET</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">PASSAT SIMPLE</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95">PASSAT IMPERFET</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">serv-i-a</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">serv-í</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95">serv-i-ra / serv-ís</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">serv-i-es</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">serv-i-res</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95">serv-i-res / serv-iss-es</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">serv-i-a</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">serv-í</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95">serv-i-ra / serv-ís</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">serv-í-em</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">serv-í-rem</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95">serv-i-rem / serv-íss-em</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">serv-í-eu</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">serv-í-reu</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95">serv-i-reu / serv-íss-eu</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">serv-i-en</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">serv-i-ren</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95">serv-i-ren / serv-iss-en</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">&nbsp;</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">&nbsp;</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">&nbsp;</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">FUTUR</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">CONDICIONAL</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7; font-weight: 700">IMPERATIU</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">serv-ir-é</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">serv-ir-ia</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">&nbsp;</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">serv-ir-às</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">serv-ir-ies</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">serv-eix / serv-ix</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">serv-ir-à</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">serv-ir-ia</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">serv-isc-a / serv-esc-a</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">serv-ir-em</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">serv-ir-íem</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">serv-im</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">serv-ir-eu</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">serv-ir-íeu</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">serv-iu</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">serv-ir-an</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">serv-ir-ien</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">serv-isqu-en / serv-esqu-en</td>
      </tr>
    </tbody>
  </table>
  <br />
</div>
