<div class="col-sm mt-3 mt-md-0 text-center">
  <table
    class="table table-sm table-bordered mx-auto verbs-fixed-colors"
    style="max-width: 780px; width: 100%; table-layout: fixed; --bs-table-color: #000"
  >
    <thead>
      <tr>
        <th style="text-align: left; padding-left: 12px; background-color: #b8e7b9">INDICATIU</th>
        <th style="text-align: left; padding-left: 12px; background-color: #e7e7e7">INFINITIU</th>
        <th style="text-align: left; padding-left: 12px; background-color: #eceb95">SUBJUNTIU</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">PRESENT</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">serv-ir</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95">PRESENT</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-bottom: none">serv-<b>isc</b> / serv-<b>esc</b></td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7; font-weight: 700">GERUNDI</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95; border-bottom: none">serv-<b>isc</b>-a / serv-<b>esc</b>-a</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">serv-<b>eix</b>-es / serv-<b>ix</b>-es</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7; border-bottom: none">serv-int</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95; border-top: none; border-bottom: none">serv-<b>isqu</b>-es / serv-<b>esqu</b>-es</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">serv-<b>eix</b> / serv-<b>ix</b></td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7; border-top: none">&nbsp;</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95; border-top: none; border-bottom: none">serv-<b>isc</b>-a / serv-<b>esc</b>-a</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">serv-im</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7; font-weight: 700">PARTICIPI</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95; border-top: none; border-bottom: none">serv-im</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">serv-iu</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7; border-bottom: none">serv-it, serv-ida</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95; border-top: none; border-bottom: none">serv-iu</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none">serv-<b>eix</b>-en / serv-<b>ix</b>-en</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7; border-top: none">serv-its, serv-ides</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95; border-top: none">serv-<b>isqu</b>-en / serv-<b>esqu</b>-en</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">&nbsp;</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">&nbsp;</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95">&nbsp;</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">PASSAT IMPERFET</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">PASSAT SIMPLE</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95">PASSAT IMPERFET</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-bottom: none">serv-i-a</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-bottom: none">serv-í</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95; border-bottom: none">serv-i-ra / serv-ís</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">serv-i-es</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">serv-i-res</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95; border-top: none; border-bottom: none">serv-i-res / serv-iss-es</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">serv-i-a</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">serv-í</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95; border-top: none; border-bottom: none">serv-i-ra / serv-ís</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">serv-í-em</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">serv-í-rem</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95; border-top: none; border-bottom: none">serv-i-rem / serv-íss-em</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">serv-í-eu</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">serv-í-reu</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95; border-top: none; border-bottom: none">serv-i-reu / serv-íss-eu</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none">serv-i-en</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none">serv-i-ren</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95; border-top: none">serv-i-ren / serv-iss-en</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">&nbsp;</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">&nbsp;</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">&nbsp;</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">FUTUR</td>
        <td class="verbs-mobile-wrap" style="text-align: left; padding-left: 12px; background-color: #b8e7b9">CONDICIONAL</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7; font-weight: 700">IMPERATIU</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-bottom: none">serv-ir-é</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-bottom: none">serv-ir-ia</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7; border-bottom: none">&nbsp;</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">serv-ir-às</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">serv-ir-ies</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7; border-top: none; border-bottom: none">serv-<b>eix</b> / serv-<b>ix</b></td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">serv-ir-à</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">serv-ir-ia</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7; border-top: none; border-bottom: none">serv-<b>isc</b>-a / serv-<b>esc</b>-a</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">serv-ir-em</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">serv-ir-íem</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7; border-top: none; border-bottom: none">serv-im</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">serv-ir-eu</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">serv-ir-íeu</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7; border-top: none; border-bottom: none">serv-iu</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none">serv-ir-an</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none">serv-ir-ien</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7; border-top: none">serv-<b>isqu</b>-en / serv-<b>esqu</b>-en</td>
      </tr>
    </tbody>
  </table>
  <br />
</div>
