<div class="col-sm mt-3 mt-md-0 text-center">
  <table
    class="table table-sm table-bordered mx-auto verbs-fixed-colors"
    style="max-width: 780px; width: 100%; table-layout: fixed; --bs-table-color: #000"
  >
    <thead>
      <tr>
        <th style="text-align: left; padding-left: 12px; background-color: #b8e7b9">INDICATIU</th>
        <th style="text-align: left; padding-left: 12px; background-color: #e7e7e7">INFINITIU</th>
        <th style="text-align: left; padding-left: 12px; background-color: #eceb95">SUBJUNTIU</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">Passat indefinit</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">haver dormit</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95">Passat perfet</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-bottom: none">he dormit</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7; font-weight: 700">GERUNDI</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95; border-bottom: none">haj-a dormit</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">has dormit</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7; border-bottom: none">havent dormit</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95; border-top: none; border-bottom: none">hag-es dormit</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">ha dormit</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7; border-top: none; border-bottom: none">&nbsp;</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95; border-top: none; border-bottom: none">haj-a dormit</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">hem / hav-em dormit</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7; border-top: none; border-bottom: none">&nbsp;</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95; border-top: none; border-bottom: none">hàg-em dormit</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">heu / hav-eu dormit</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7; border-top: none; border-bottom: none">&nbsp;</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95; border-top: none; border-bottom: none">hàg-eu dormit</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none">han dormit</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7; border-top: none">&nbsp;</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95; border-top: none">hag-en dormit</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">&nbsp;</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">&nbsp;</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95">&nbsp;</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">PASSAT PLUSQUAMPERFET</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">PASSAT ANTERIOR</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95">PASSAT PLUSQUAMPERFET</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-bottom: none">hav-i-a dormit</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-bottom: none">hagu-í dormit</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95; border-bottom: none">hagu-e-ra / hagu-és dormit</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">hav-i-es dormit</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">hagu-e-res dormit</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95; border-top: none; border-bottom: none">hagu-e-res / hagu-ess-es dormit</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">hav-i-a dormit</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">hagu-é dormit</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95; border-top: none; border-bottom: none">hagu-e-ra / hagu-és dormit</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">hav-í-em dormit</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">hagu-é-rem dormit</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95; border-top: none; border-bottom: none">hagu-é-rem / hagu-éss-em dormit</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">hav-í-eu dormit</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">hagu-é-reu dormit</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95; border-top: none; border-bottom: none">hagu-é-reu / hagu-éss-eu dormit</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none">hav-i-en dormit</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none">hagu-e-ren dormit</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95; border-top: none">hagu-e-ren / hagu-ess-en dormit</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">&nbsp;</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">&nbsp;</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">&nbsp;</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">FUTUR PERFET</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">CONDICIONAL</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">PASSAT PERIFRÀSTIC</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-bottom: none">hau-r-é dormit</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-bottom: none">hau-r-ia dormit</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-bottom: none">vaig dormir</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">hau-r-às dormit</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">hau-r-ies dormit</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">vas dormir</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">hau-r-à dormit</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">hau-r-ia dormit</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">va dormir</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">hau-r-em dormit</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">hau-r-íem dormit</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">anem dormir</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">hau-r-eu dormit</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">hau-r-íeu dormit</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">aneu dormir</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none">hau-r-an dormit</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none">hau-r-ien dormit</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none">van dormir</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: transparent; border: hidden">&nbsp;</td>
        <td style="text-align: left; padding-left: 12px; background-color: transparent; border: hidden">&nbsp;</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-left: hidden">PASSAT ANTERIOR PERIFRÀSTIC</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: transparent; border: hidden">&nbsp;</td>
        <td style="text-align: left; padding-left: 12px; background-color: transparent; border: hidden">&nbsp;</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-left: hidden; border-bottom: none">vaig haver dormir</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: transparent; border: hidden">&nbsp;</td>
        <td style="text-align: left; padding-left: 12px; background-color: transparent; border: hidden">&nbsp;</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-left: hidden; border-top: none; border-bottom: none">vas haver dormir</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: transparent; border: hidden">&nbsp;</td>
        <td style="text-align: left; padding-left: 12px; background-color: transparent; border: hidden">&nbsp;</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-left: hidden; border-top: none; border-bottom: none">va haver dormir</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: transparent; border: hidden">&nbsp;</td>
        <td style="text-align: left; padding-left: 12px; background-color: transparent; border: hidden">&nbsp;</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-left: hidden; border-top: none; border-bottom: none">anem haver dormir</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: transparent; border: hidden">&nbsp;</td>
        <td style="text-align: left; padding-left: 12px; background-color: transparent; border: hidden">&nbsp;</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-left: hidden; border-top: none; border-bottom: none">aneu haver dormir</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: transparent; border: hidden">&nbsp;</td>
        <td style="text-align: left; padding-left: 12px; background-color: transparent; border: hidden">&nbsp;</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-left: hidden; border-top: none">van haver dormir</td>
      </tr>
    </tbody>
  </table>
  <br />
</div>
