<div class="col-sm mt-3 mt-md-0 text-center">
  <table
    class="table table-sm table-bordered mx-auto verbs-fixed-colors"
    style="max-width: 780px; width: 100%; table-layout: fixed; --bs-table-color: #000"
  >
    <thead>
      <tr>
        <th style="text-align: left; padding-left: 12px; background-color: #b8e7b9">INDICATIU</th>
        <th style="text-align: left; padding-left: 12px; background-color: #e7e7e7">INFINITIU</th>
        <th style="text-align: left; padding-left: 12px; background-color: #eceb95">SUBJUNTIU</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">PRESENT</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">lleg-ir</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95">PRESENT</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-bottom: none">ll<b>i</b>g / lleg-<b>esc</b></td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7; font-weight: 700">GERUNDI</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95; border-bottom: none">ll<b>i</b>j-a / lleg-<b>esc</b>-a</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">ll<b>i</b>g-es / lleg-<b>eix</b>-es</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7; border-bottom: none">lleg-int</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95; border-top: none; border-bottom: none">ll<b>i</b>g-es / lleg-<b>esqu</b>-es</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">llig / lleg-<b>eix</b></td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7; border-top: none">&nbsp;</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95; border-top: none; border-bottom: none">ll<b>i</b>j-a / lleg-<b>esc</b>-a</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">lleg-im</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7; font-weight: 700">PARTICIPI</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95; border-top: none; border-bottom: none">lleg-im</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">lleg-iu</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7; border-bottom: none">lleg-it, lleg-ida</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95; border-top: none; border-bottom: none">lleg-iu</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none">ll<b>i</b>g-en / lleg-<b>eix</b>-en</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7; border-top: none">lleg-its, lleg-ides</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95; border-top: none">ll<b>i</b>g-en / lleg-<b>esqu</b>-en</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">&nbsp;</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">&nbsp;</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95">&nbsp;</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">PASSAT IMPERFET</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">PASSAT SIMPLE</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95">PASSAT IMPERFET</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-bottom: none">lleg-i-a</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-bottom: none">lleg-í</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95; border-bottom: none">lleg-i-ra / lleg-ís</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">lleg-i-es</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">lleg-i-res</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95; border-top: none; border-bottom: none">lleg-i-res / lleg-iss-es</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">lleg-i-a</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">lleg-í</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95; border-top: none; border-bottom: none">lleg-i-ra / lleg-ís</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">lleg-í-em</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">lleg-í-rem</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95; border-top: none; border-bottom: none">lleg-i-rem / lleg-íss-em</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">lleg-í-eu</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">lleg-í-reu</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95; border-top: none; border-bottom: none">lleg-i-reu / lleg-íss-eu</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none">lleg-i-en</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none">lleg-i-ren</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95; border-top: none">lleg-i-ren / lleg-iss-en</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">&nbsp;</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">&nbsp;</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">&nbsp;</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">FUTUR</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">CONDICIONAL</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7; font-weight: 700">IMPERATIU</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-bottom: none">lleg-ir-é</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-bottom: none">lleg-ir-ia</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7; border-bottom: none">&nbsp;</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">lleg-ir-às</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">lleg-ir-ies</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7; border-top: none; border-bottom: none">ll<b>i</b>g / lleg-<b>eix</b></td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">lleg-ir-à</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">lleg-ir-ia</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7; border-top: none; border-bottom: none">ll<b>i</b>j-a / lleg-<b>esc</b>-a</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">lleg-ir-em</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">lleg-ir-íem</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7; border-top: none; border-bottom: none">lleg-im</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">lleg-ir-eu</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">lleg-ir-íeu</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7; border-top: none; border-bottom: none">lleg-iu</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none">lleg-ir-an</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none">lleg-ir-ien</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7; border-top: none">ll<b>i</b>g-en / lleg-<b>esqu</b>-en</td>
      </tr>
    </tbody>
  </table>
  <br />
</div>
