<div class="col-sm mt-3 mt-md-0 text-center">
  <table
    class="table table-sm table-bordered mx-auto verbs-fixed-colors"
    style="max-width: 780px; width: 100%; table-layout: fixed; --bs-table-color: #000"
  >
    <thead>
      <tr>
        <th style="text-align: left; padding-left: 12px; background-color: #b8e7b9">INDICATIU</th>
        <th style="text-align: left; padding-left: 12px; background-color: #e7e7e7">INFINITIU</th>
        <th style="text-align: left; padding-left: 12px; background-color: #eceb95">SUBJUNTIU</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">PRESENT</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">lleg-ir</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95">PRESENT</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">llig / lleg-esc</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7; font-weight: 700">GERUNDI</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95">llig-a / lleg-esc-a</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">llig-es / lleg-eix-es</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">lleg-int</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95">llig-es / lleg-esqu-es</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">llig / lleg-eix</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7; font-weight: 700">PARTICIPI</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95">llig-a / lleg-esc-a</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">lleg-im</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">lleg-it, lleg-ida</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95">lleg-im</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">lleg-iu</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">lleg-its, lleg-ides</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95">lleg-iu</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">llig-en / lleg-eix-en</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">&nbsp;</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95">llig-en / lleg-esqu-en</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">&nbsp;</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">&nbsp;</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95">&nbsp;</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">PASSAT IMPERFET</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">PASSAT SIMPLE</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95">PASSAT IMPERFET</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">lleg-i-a</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">lleg-í</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95">lleg-i-ra / lleg-ís</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">lleg-i-es</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">lleg-i-res</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95">lleg-i-res / lleg-iss-es</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">lleg-i-a</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">lleg-í</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95">lleg-i-ra / lleg-ís</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">lleg-í-em</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">lleg-í-rem</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95">lleg-i-rem / lleg-íss-em</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">lleg-í-eu</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">lleg-í-reu</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95">lleg-i-reu / lleg-íss-eu</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">lleg-i-en</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">lleg-i-ren</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95">lleg-i-ren / lleg-iss-en</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">&nbsp;</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">&nbsp;</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">&nbsp;</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">FUTUR</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">CONDICIONAL</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7; font-weight: 700">IMPERATIU</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">lleg-ir-é</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">lleg-ir-ia</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">&nbsp;</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">lleg-ir-às</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">lleg-ir-ies</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">llig / lleg-eix</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">lleg-ir-à</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">lleg-ir-ia</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">llig-a / lleg-esc-a</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">lleg-ir-em</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">lleg-ir-íem</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">lleg-im</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">lleg-ir-eu</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">lleg-ir-íeu</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">lleg-iu</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">lleg-ir-an</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">lleg-ir-ien</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">llig-en / lleg-esqu-en</td>
      </tr>
    </tbody>
  </table>
  <br />
</div>
