<div class="col-sm mt-3 mt-md-0 text-center">
  <table
    class="table table-sm table-bordered mx-auto verbs-fixed-colors"
    style="max-width: 780px; width: 100%; table-layout: fixed; --bs-table-color: #000"
  >
    <thead>
      <tr>
        <th style="text-align: left; padding-left: 12px; background-color: #b8e7b9">INDICATIU</th>
        <th style="text-align: left; padding-left: 12px; background-color: #e7e7e7">INFINITIU</th>
        <th style="text-align: left; padding-left: 12px; background-color: #eceb95">SUBJUNTIU</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">PRESENT</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">an-ar</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95">PRESENT</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">vaig</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7; font-weight: 700">GERUNDI</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95">vaj-a</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">va-s</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">an-ant</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95">vag-es</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">va</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7; font-weight: 700">PARTICIPI</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95">vaj-a</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">an-em</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">an-at, an-ada</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95">an-em</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">an-eu</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">an-ats, an-ades</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95">an-eu</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">va-n</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">&nbsp;</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95">vag-en</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">&nbsp;</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">&nbsp;</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95">&nbsp;</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">PASSAT IMPERFET</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">PASSAT SIMPLE</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95">PASSAT IMPERFET</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">an-av-a</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">an-í</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95">an-a-ra / an-às</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">an-av-es</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">an-a-res</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95">an-a-res / an-ass-es</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">an-av-a</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">an-à</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95">an-a-ra / an-às</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">an-av-em</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">an-à-rem</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95">an-à-rem / an-àss-em</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">an-av-eu</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">an-à-reu</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95">an-à-reu / an-àss-eu</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">an-av-en</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">an-a-ren</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95">an-a-ren / an-ass-en</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">&nbsp;</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">&nbsp;</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">&nbsp;</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">FUTUR</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">CONDICIONAL</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7; font-weight: 700">IMPERATIU</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">an-ar-é</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">an-ar-ia</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">&nbsp;</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">an-ar-às</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">an-ar-ies</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">vé-s</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">an-ar-à</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">an-ar-ia</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">vaj-a</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">an-ar-em</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">an-ar-íem</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">an-em</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">an-ar-eu</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">an-ar-íeu</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">an-eu</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">an-ar-an</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">an-ar-ien</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">vag-en</td>
      </tr>
    </tbody>
  </table>
  <br />
</div>
