<div class="col-sm mt-3 mt-md-0 text-center">
  <table
    class="table table-sm table-bordered mx-auto verbs-fixed-colors"
    style="max-width: 780px; width: 100%; table-layout: fixed; --bs-table-color: #000"
  >
    <thead>
      <tr>
        <th style="text-align: left; padding-left: 12px; background-color: #b8e7b9">INDICATIU</th>
        <th style="text-align: left; padding-left: 12px; background-color: #e7e7e7">INFINITIU</th>
        <th style="text-align: left; padding-left: 12px; background-color: #eceb95">SUBJUNTIU</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">PRESENT</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">est-ar</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95">PRESENT</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">est-ic</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7; font-weight: 700">GERUNDI</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95">est-ig-a</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">est-às</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">est-ant</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95">est-ig-es</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">est-à</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7; font-weight: 700">PARTICIPI</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95">est-ig-a</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">est-em</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">est-at, est-ada</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95">est-em</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">est-eu</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">est-ats, est-ades</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95">est-eu</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">est-an</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">&nbsp;</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95">est-ig-en</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">&nbsp;</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">&nbsp;</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95">&nbsp;</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">PASSAT IMPERFET</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">PASSAT SIMPLE</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95">PASSAT IMPERFET</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">est-av-a</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">est-igu-í</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95">est-igu-e-ra / est-igu-és</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">est-av-es</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">est-igu-e-res</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95">est-igu-e-res / est-igu-ess-es</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">est-av-a</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">est-igu-é</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95">est-igu-e-ra / est-igu-és</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">est-av-em</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">est-igu-é-rem</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95">est-igu-é-rem / est-igu-éss-em</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">est-av-eu</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">est-igu-é-reu</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95">est-igu-é-reu / est-igu-éss-eu</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">est-av-en</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">est-igu-e-ren</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95">est-igu-e-ren / est-igu-éss-en</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">&nbsp;</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">&nbsp;</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">&nbsp;</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">FUTUR</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">CONDICIONAL</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7; font-weight: 700">IMPERATIU</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">est-ar-é</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">est-ar-ia</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">&nbsp;</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">est-ar-às</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">est-ar-ies</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">est-igu-es / està</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">est-ar-à</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">est-ar-ia</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">est-ig-a</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">est-ar-em</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">est-ar-íem</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">est-igu-em</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">est-ar-eu</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">est-ar-íeu</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">est-igu-eu / est-eu</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">est-ar-est</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">est-ar-ien</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">est-igu-en</td>
      </tr>
    </tbody>
  </table>
  <br />
</div>
