<div class="col-sm mt-3 mt-md-0 text-center">
  <table
    class="table table-sm table-bordered mx-auto verbs-fixed-colors"
    style="max-width: 780px; width: 100%; table-layout: fixed; --bs-table-color: #000"
  >
    <thead>
      <tr>
        <th style="text-align: left; padding-left: 12px; background-color: #b8e7b9">INDICATIU</th>
        <th style="text-align: left; padding-left: 12px; background-color: #e7e7e7">INFINITIU</th>
        <th style="text-align: left; padding-left: 12px; background-color: #eceb95">SUBJUNTIU</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">PRESENT</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">cald-er (o caler)</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95">PRESENT</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-bottom: none">-</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7; font-weight: 700">GERUNDI</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95; border-bottom: none">-</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">-</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7; border-bottom: none">cal-ent</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95; border-top: none; border-bottom: none">-</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">cal</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7; border-top: none">&nbsp;</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95; border-top: none; border-bottom: none">cal-g-a</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">-</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7; font-weight: 700">PARTICIPI</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95; border-top: none; border-bottom: none">-</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">-</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7; border-bottom: none">cal-g-ut, cal-g-uda</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95; border-top: none; border-bottom: none">-</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none">cal-en</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7; border-top: none">cal-g-uts, cal-g-udes</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95; border-top: none">cal-gu-en</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">&nbsp;</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">&nbsp;</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95">&nbsp;</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">PASSAT IMPERFET</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">PASSAT SIMPLE</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95">PASSAT IMPERFET</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-bottom: none">-</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-bottom: none">-</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95; border-bottom: none">-</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">-</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">-</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95; border-top: none; border-bottom: none">-</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">cal-i-a</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">cal-gu-é</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95; border-top: none; border-bottom: none">cal-gu-era / cal-gu-és</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">-</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">-</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95; border-top: none; border-bottom: none">-</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">-</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">-</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95; border-top: none; border-bottom: none">-</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none">cal-i-en</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none">cal-gu-e-ren</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95; border-top: none">cal-gu-eren / cal-gu-essen</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">&nbsp;</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">&nbsp;</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">&nbsp;</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">FUTUR</td>
        <td class="verbs-mobile-wrap" style="text-align: left; padding-left: 12px; background-color: #b8e7b9">CONDICIONAL</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7; font-weight: 700">IMPERATIU</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-bottom: none">-</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-bottom: none">-</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7; border-bottom: none">&nbsp;</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">-</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">-</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7; border-top: none; border-bottom: none">&nbsp;</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">cald-r-à</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">cald-r-i-à</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7; border-top: none; border-bottom: none">[no s'usa]</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">-</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">-</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7; border-top: none; border-bottom: none">&nbsp;</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">-</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">-</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7; border-top: none; border-bottom: none">&nbsp;</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none">cald-r-an</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none">cald-r-i-en</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7; border-top: none">&nbsp;</td>
      </tr>
    </tbody>
  </table>
  <br />
</div>
