<div class="col-sm mt-3 mt-md-0 text-center">
  <table
    class="table table-sm table-bordered mx-auto verbs-fixed-colors"
    style="max-width: 780px; width: 100%; table-layout: fixed; --bs-table-color: #000"
  >
    <thead>
      <tr>
        <th style="text-align: left; padding-left: 12px; background-color: #b8e7b9">INDICATIU</th>
        <th style="text-align: left; padding-left: 12px; background-color: #e7e7e7">INFINITIU</th>
        <th style="text-align: left; padding-left: 12px; background-color: #eceb95">SUBJUNTIU</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">PRESENT</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">ser / ésser</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95">PRESENT</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-bottom: none">soc</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7; font-weight: 700">GERUNDI</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95; border-bottom: none">siga</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">ets / eres</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7; border-bottom: none">s-ent / ess-ent</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95; border-top: none; border-bottom: none">sigues</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">és</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7; border-top: none">&nbsp;</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95; border-top: none; border-bottom: none">siga</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">som</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7; font-weight: 700">PARTICIPI</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95; border-top: none; border-bottom: none">siguem</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">sou</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7; border-bottom: none">sig-ut, sig-uda / estat, estada</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95; border-top: none; border-bottom: none">sigueu</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none">són</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7; border-top: none">sig-uts, sig-udes / estats, estades</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95; border-top: none">siguen</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">&nbsp;</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">&nbsp;</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95">&nbsp;</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">PASSAT IMPERFET</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">PASSAT SIMPLE</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95">PASSAT IMPERFET</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-bottom: none">era</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-bottom: none">fui / fon</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95; border-bottom: none">fora / fos</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">eres</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">fores</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95; border-top: none; border-bottom: none">fores / fosses</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">era</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">fou</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95; border-top: none; border-bottom: none">fora / fos</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">érem</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">fórem</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95; border-top: none; border-bottom: none">fórem / fóssem</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">éreu</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">fóreu</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95; border-top: none; border-bottom: none">fóreu / fósseu</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none">eren</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none">foren</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95; border-top: none">foren / fossen</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">&nbsp;</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">&nbsp;</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">&nbsp;</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">FUTUR</td>
        <td class="verbs-mobile-wrap" style="text-align: left; padding-left: 12px; background-color: #b8e7b9">CONDICIONAL</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7; font-weight: 700">IMPERATIU</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-bottom: none">seré</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-bottom: none">seria</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7; border-bottom: none">&nbsp;</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">seràs</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">series</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7; border-top: none; border-bottom: none">sigues</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">serà</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">seria</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7; border-top: none; border-bottom: none">siga</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">serem</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">seríem</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7; border-top: none; border-bottom: none">siguem</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">sereu</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none; border-bottom: none">seríeu</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7; border-top: none; border-bottom: none">sigueu</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none">seran</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9; border-top: none">serien</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7; border-top: none">siguen</td>
      </tr>
    </tbody>
  </table>
  <br />
</div>
