<div class="col-sm mt-3 mt-md-0 text-center">
  <table
    class="table table-sm table-bordered mx-auto verbs-fixed-colors"
    style="max-width: 780px; width: 100%; table-layout: fixed; --bs-table-color: #000"
  >
    <thead>
      <tr>
        <th style="text-align: left; padding-left: 12px; background-color: #b8e7b9">INDICATIU</th>
        <th style="text-align: left; padding-left: 12px; background-color: #e7e7e7">INFINITIU</th>
        <th style="text-align: left; padding-left: 12px; background-color: #eceb95">SUBJUNTIU</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">PRESENT</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">ser / ésser</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95">PRESENT</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">soc</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7; font-weight: 700">GERUNDI</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95">siga</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">ets / eres</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">s-ent / ess-ent</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95">sigues</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">és</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7; font-weight: 700">PARTICIPI</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95">siga</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">som</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">sig-ut, sig-uda &nbsp;&nbsp; sig-uts, sig-udes &nbsp;&nbsp; /</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95">siguem</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">sou</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">estat, estada, estats, estades</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95">sigueu</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">són</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">&nbsp;</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95">siguen</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">&nbsp;</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">&nbsp;</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95">&nbsp;</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">PASSAT IMPERFET</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">PASSAT SIMPLE</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95">PASSAT IMPERFET</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">era</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">fui / fon</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95">fora / fos</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">eres</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">fores</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95">fores / fosses</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">era</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">fou</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95">fora / fos</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">érem</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">fórem</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95">fórem / fóssem</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">éreu</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">fóreu</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95">fóreu / fósseu</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">eren</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">foren</td>
        <td style="text-align: left; padding-left: 12px; background-color: #eceb95">foren / fossen</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">&nbsp;</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">&nbsp;</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">&nbsp;</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">FUTUR</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">CONDICIONAL</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7; font-weight: 700">IMPERATIU</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">seré</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">seria</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">&nbsp;</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">seràs</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">series</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">sigues</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">serà</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">seria</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">siga</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">serem</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">seríem</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">siguem</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">sereu</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">seríeu</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">sigueu</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">seran</td>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">serien</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">siguen</td>
      </tr>
    </tbody>
  </table>
  <br />
</div>
