<div class="col-sm mt-3 mt-md-0 text-center">
  <table class="table table-sm table-bordered mx-auto" style="max-width: 780px; width: 100%; table-layout: fixed">
    <thead>
      <tr>
        <th style="text-align: left; padding-left: 12px">VERB</th>
        <th style="text-align: left; padding-left: 12px">PARTICIPI</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td style="text-align: left; padding-left: 12px">absoldre</td>
        <td style="text-align: left; padding-left: 12px">absolt, absolta</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px">abstenir</td>
        <td style="text-align: left; padding-left: 12px">abstingut, abstinguda</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px">acudir</td>
        <td style="text-align: left; padding-left: 12px">acudit, acudida</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px">admetre</td>
        <td style="text-align: left; padding-left: 12px">admés, admesa</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px">afegir</td>
        <td style="text-align: left; padding-left: 12px">afegit, afegida</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px">anar</td>
        <td style="text-align: left; padding-left: 12px">anat, anada</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px">agrair</td>
        <td style="text-align: left; padding-left: 12px">agraït, agraïda</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px">argüir</td>
        <td style="text-align: left; padding-left: 12px">arguït, arguïda</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px">atendre</td>
        <td style="text-align: left; padding-left: 12px">atés, atesa</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px">atényer</td>
        <td style="text-align: left; padding-left: 12px">atés, atesa</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px">batre</td>
        <td style="text-align: left; padding-left: 12px">batut, batuda</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px">beure</td>
        <td style="text-align: left; padding-left: 12px">begut, beguda</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px">cabre</td>
        <td style="text-align: left; padding-left: 12px">cabut, cabuda</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px">caldre (o caler)</td>
        <td style="text-align: left; padding-left: 12px">calgut, calguda</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px">tcantar</td>
        <td style="text-align: left; padding-left: 12px">cantat, cantada</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px">caure</td>
        <td style="text-align: left; padding-left: 12px">caigut, caiguda</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px">cerndre</td>
        <td style="text-align: left; padding-left: 12px">cernut, cernuda</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px">cloure</td>
        <td style="text-align: left; padding-left: 12px">clos, closa</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px">cobrir</td>
        <td style="text-align: left; padding-left: 12px">cobert, coberta</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px">collir</td>
        <td style="text-align: left; padding-left: 12px">collit, collida</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px">complaure</td>
        <td style="text-align: left; padding-left: 12px">complagut, complaguda</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px">complir</td>
        <td style="text-align: left; padding-left: 12px">complit, complida</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px">compondre</td>
        <td style="text-align: left; padding-left: 12px">compost, composta</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px">conéixer</td>
        <td style="text-align: left; padding-left: 12px">conegut, coneguda</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px">constrényer</td>
        <td style="text-align: left; padding-left: 12px">constret, constreta</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px">córrer</td>
        <td style="text-align: left; padding-left: 12px">corregut, correguda</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px">cosir</td>
        <td style="text-align: left; padding-left: 12px">cosit, cosida</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px">coure (sotmetre a l’acció del foc)</td>
        <td style="text-align: left; padding-left: 12px">cuit, cuita</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px">coure (produir coentor)</td>
        <td style="text-align: left; padding-left: 12px">cogut, coguda</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px">créixer</td>
        <td style="text-align: left; padding-left: 12px">crescut, crescuda</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px">creure</td>
        <td style="text-align: left; padding-left: 12px">cregut, creguda</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px">cruixir</td>
        <td style="text-align: left; padding-left: 12px">cruixit, cruixida</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px">dir</td>
        <td style="text-align: left; padding-left: 12px">dit, dita</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px">doldre</td>
        <td style="text-align: left; padding-left: 12px">dolgut, dolguda</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px">dormir</td>
        <td style="text-align: left; padding-left: 12px">dormit, dormida</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px">dur</td>
        <td style="text-align: left; padding-left: 12px">dut, duta</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px">eixir</td>
        <td style="text-align: left; padding-left: 12px">eixit, eixida</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px">empényer</td>
        <td style="text-align: left; padding-left: 12px">empés, empesa</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px">engolir</td>
        <td style="text-align: left; padding-left: 12px">engolit, engolida</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px">entendre</td>
        <td style="text-align: left; padding-left: 12px">entés, entesa</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px">escriure</td>
        <td style="text-align: left; padding-left: 12px">escrit, escrita</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px">ésser</td>
        <td style="text-align: left; padding-left: 12px">estat, estada</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px">estar</td>
        <td style="text-align: left; padding-left: 12px">estat, estada</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px">estrényer</td>
        <td style="text-align: left; padding-left: 12px">estret, estreta</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px">fer</td>
        <td style="text-align: left; padding-left: 12px">fet, feta</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px">fondre</td>
        <td style="text-align: left; padding-left: 12px">fos, fosa</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px">fugir</td>
        <td style="text-align: left; padding-left: 12px">fugit, fugida</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px">haver</td>
        <td style="text-align: left; padding-left: 12px">hagut, haguda</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px">imprimir</td>
        <td style="text-align: left; padding-left: 12px">imprés / impresa</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px">jaure</td>
        <td style="text-align: left; padding-left: 12px">jagut, jaguda</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px">llegir</td>
        <td style="text-align: left; padding-left: 12px">llegit, llegida</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px">lluir</td>
        <td style="text-align: left; padding-left: 12px">lluït, lluïda</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px">mentir</td>
        <td style="text-align: left; padding-left: 12px">mentit, mentida</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px">metre</td>
        <td style="text-align: left; padding-left: 12px">mes, mesa</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px">moldre</td>
        <td style="text-align: left; padding-left: 12px">molt, molta</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px">morir</td>
        <td style="text-align: left; padding-left: 12px">mort, morta</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px">nàixer</td>
        <td style="text-align: left; padding-left: 12px">nascut, nascuda</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px">noure</td>
        <td style="text-align: left; padding-left: 12px">nogut, noguda</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px">obrir</td>
        <td style="text-align: left; padding-left: 12px">obert, oberta</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px">oir</td>
        <td style="text-align: left; padding-left: 12px">oït, oïda</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px">omplir</td>
        <td style="text-align: left; padding-left: 12px">omplit, omplida</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px">patir</td>
        <td style="text-align: left; padding-left: 12px">patit, patida</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px">péixer</td>
        <td style="text-align: left; padding-left: 12px">pascut, pascuda</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px">perdre</td>
        <td style="text-align: left; padding-left: 12px">perdut, perduda</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px">pertànyer</td>
        <td style="text-align: left; padding-left: 12px">pertangut, pertanguda</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px">poder</td>
        <td style="text-align: left; padding-left: 12px">pogut, poguda</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px">prendre</td>
        <td style="text-align: left; padding-left: 12px">pres, presa</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px">pudir</td>
        <td style="text-align: left; padding-left: 12px">pudit, pudida</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px">raure</td>
        <td style="text-align: left; padding-left: 12px">ras, rasa</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px">rebre</td>
        <td style="text-align: left; padding-left: 12px">rebut, rebuda</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px">renyir</td>
        <td style="text-align: left; padding-left: 12px">renyit, renyida</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px">riure</td>
        <td style="text-align: left; padding-left: 12px">rist, rista</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px">romandre</td>
        <td style="text-align: left; padding-left: 12px">romàs, romasa</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px">saber</td>
        <td style="text-align: left; padding-left: 12px">sabut, sabuda</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px">sentir</td>
        <td style="text-align: left; padding-left: 12px">sentit, sentida</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px">ser</td>
        <td style="text-align: left; padding-left: 12px">sigut, siguda</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px">servir</td>
        <td style="text-align: left; padding-left: 12px">servit, servida</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px">seure</td>
        <td style="text-align: left; padding-left: 12px">segut, seguda</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px">sofrir</td>
        <td style="text-align: left; padding-left: 12px">sofert, soferta</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px">teixir</td>
        <td style="text-align: left; padding-left: 12px">teixit, teixida</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px">témer</td>
        <td style="text-align: left; padding-left: 12px">temut, temuda</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px">tenyir</td>
        <td style="text-align: left; padding-left: 12px">tenyit, tenyida</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px">tindre (o tenir)</td>
        <td style="text-align: left; padding-left: 12px">tingut, tinguda</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px">tòrcer</td>
        <td style="text-align: left; padding-left: 12px">torçut, torçuda</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px">tossir</td>
        <td style="text-align: left; padding-left: 12px">tossit, tossida</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px">traduir</td>
        <td style="text-align: left; padding-left: 12px">traduït, traduïda</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px">traure</td>
        <td style="text-align: left; padding-left: 12px">tret, treta</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px">valdre (o valer)</td>
        <td style="text-align: left; padding-left: 12px">valgut, valguda</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px">véncer</td>
        <td style="text-align: left; padding-left: 12px">vençut, vençuda</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px">vendre</td>
        <td style="text-align: left; padding-left: 12px">venut, venuda</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px">vestir</td>
        <td style="text-align: left; padding-left: 12px">vestit, vestida</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px">veure</td>
        <td style="text-align: left; padding-left: 12px">vist, vista</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px">vindre (o venir)</td>
        <td style="text-align: left; padding-left: 12px">vingut, vinguda</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px">viure</td>
        <td style="text-align: left; padding-left: 12px">viscut, viscuda</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px">voler</td>
        <td style="text-align: left; padding-left: 12px">volgut, volguda</td>
      </tr>
    </tbody>
  </table>
  <br />
</div>
