<div class="col-sm mt-3 mt-md-0 text-center">
  <table
    class="table table-sm table-bordered mx-auto verbs-fixed-colors"
    style="max-width: 780px; width: 100%; table-layout: fixed; --bs-table-color: #000"
  >
    <thead>
      <tr>
        <th style="text-align: left; padding-left: 12px; background-color: #b8e7b9">VERB</th>
        <th style="text-align: left; padding-left: 12px; background-color: #e7e7e7">PARTICIPI</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">absoldre</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">absolt, absolta</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">abstenir</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">abstingut, abstinguda</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">acudir</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">acudit, acudida</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">admetre</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">admés, admesa</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">afegir</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">afegit, afegida</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">anar</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">anat, anada</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">agrair</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">agraït, agraïda</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">argüir</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">arguït, arguïda</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">atendre</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">atés, atesa</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">atényer</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">atés, atesa</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">batre</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">batut, batuda</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">beure</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">begut, beguda</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">cabre</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">cabut, cabuda</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">caldre (o caler)</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">calgut, calguda</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">tcantar</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">cantat, cantada</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">caure</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">caigut, caiguda</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">cerndre</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">cernut, cernuda</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">cloure</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">clos, closa</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">cobrir</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">cobert, coberta</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">collir</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">collit, collida</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">complaure</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">complagut, complaguda</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">complir</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">complit, complida</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">compondre</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">compost, composta</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">conéixer</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">conegut, coneguda</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">constrényer</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">constret, constreta</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">córrer</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">corregut, correguda</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">cosir</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">cosit, cosida</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">coure (sotmetre a l’acció del foc)</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">cuit, cuita</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">coure (produir coentor)</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">cogut, coguda</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">créixer</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">crescut, crescuda</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">creure</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">cregut, creguda</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">cruixir</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">cruixit, cruixida</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">dir</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">dit, dita</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">doldre</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">dolgut, dolguda</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">dormir</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">dormit, dormida</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">dur</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">dut, duta</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">eixir</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">eixit, eixida</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">empényer</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">empés, empesa</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">engolir</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">engolit, engolida</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">entendre</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">entés, entesa</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">escriure</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">escrit, escrita</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">ésser</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">estat, estada</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">estar</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">estat, estada</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">estrényer</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">estret, estreta</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">fer</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">fet, feta</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">fondre</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">fos, fosa</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">fugir</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">fugit, fugida</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">haver</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">hagut, haguda</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">imprimir</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">imprés / impresa</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">jaure</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">jagut, jaguda</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">llegir</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">llegit, llegida</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">lluir</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">lluït, lluïda</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">mentir</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">mentit, mentida</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">metre</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">mes, mesa</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">moldre</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">molt, molta</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">morir</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">mort, morta</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">nàixer</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">nascut, nascuda</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">noure</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">nogut, noguda</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">obrir</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">obert, oberta</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">oir</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">oït, oïda</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">omplir</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">omplit, omplida</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">patir</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">patit, patida</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">péixer</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">pascut, pascuda</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">perdre</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">perdut, perduda</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">pertànyer</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">pertangut, pertanguda</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">poder</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">pogut, poguda</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">prendre</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">pres, presa</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">pudir</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">pudit, pudida</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">raure</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">ras, rasa</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">rebre</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">rebut, rebuda</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">renyir</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">renyit, renyida</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">riure</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">rist, rista</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">romandre</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">romàs, romasa</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">saber</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">sabut, sabuda</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">sentir</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">sentit, sentida</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">ser</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">sigut, siguda</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">servir</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">servit, servida</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">seure</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">segut, seguda</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">sofrir</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">sofert, soferta</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">teixir</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">teixit, teixida</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">témer</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">temut, temuda</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">tenyir</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">tenyit, tenyida</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">tindre (o tenir)</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">tingut, tinguda</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">tòrcer</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">torçut, torçuda</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">tossir</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">tossit, tossida</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">traduir</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">traduït, traduïda</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">traure</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">tret, treta</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">valdre (o valer)</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">valgut, valguda</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">véncer</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">vençut, vençuda</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">vendre</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">venut, venuda</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">vestir</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">vestit, vestida</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">veure</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">vist, vista</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">vindre (o venir)</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">vingut, vinguda</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">viure</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">viscut, viscuda</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9">voler</td>
        <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7">volgut, volguda</td>
      </tr>
    </tbody>
  </table>
  <br />
</div>
