<div class="col-sm mt-3 mt-md-0 text-center">
  <table
    class="table table-sm table-bordered mx-auto verbs-fixed-colors verbs-gray-white"
    style="max-width: 900px; width: 100%; table-layout: fixed; --bs-table-color: #000"
  >
    <thead>
      <tr>
        <th style="text-align: left; padding-left: 12px">Si el radical<br />acaba en</th>
        <th style="text-align: left; padding-left: 12px">i la desinència<br />comença en</th>
        <th style="text-align: left; padding-left: 12px; vertical-align: top">canvia a</th>
        <th style="text-align: left; padding-left: 12px; vertical-align: top">exemple</th>
        <th style="text-align: left; padding-left: 12px">&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td style="text-align: left; padding-left: 12px">c</td>
        <td style="text-align: left; padding-left: 12px">&nbsp;</td>
        <td style="text-align: left; padding-left: 12px">qu</td>
        <td style="text-align: left; padding-left: 12px">tanc-ar</td>
        <td style="text-align: left; padding-left: 12px">tanqu-es</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px">ç</td>
        <td style="text-align: left; padding-left: 12px">&nbsp;</td>
        <td style="text-align: left; padding-left: 12px">c</td>
        <td style="text-align: left; padding-left: 12px">començ-ar</td>
        <td style="text-align: left; padding-left: 12px">comenc-i</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px">g</td>
        <td style="text-align: left; padding-left: 12px">e, i</td>
        <td style="text-align: left; padding-left: 12px">gu</td>
        <td style="text-align: left; padding-left: 12px">pag-ar</td>
        <td style="text-align: left; padding-left: 12px">pagu-e</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px">j</td>
        <td style="text-align: left; padding-left: 12px">&nbsp;</td>
        <td style="text-align: left; padding-left: 12px">g</td>
        <td style="text-align: left; padding-left: 12px">jutj-ar</td>
        <td style="text-align: left; padding-left: 12px">jutg-em</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px">gu</td>
        <td style="text-align: left; padding-left: 12px">&nbsp;</td>
        <td style="text-align: left; padding-left: 12px">gü</td>
        <td style="text-align: left; padding-left: 12px">aigu-ar</td>
        <td style="text-align: left; padding-left: 12px">aigüi-aria</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px">qu</td>
        <td style="text-align: left; padding-left: 12px">&nbsp;</td>
        <td style="text-align: left; padding-left: 12px">qü</td>
        <td style="text-align: left; padding-left: 12px">liqu-ar</td>
        <td style="text-align: left; padding-left: 12px">liqü-em</td>
      </tr>
    </tbody>
  </table>
  <br />
</div>
