<div class="col-sm mt-3 mt-md-0 text-center">
  <table
    class="table table-sm table-bordered mx-auto verbs-fixed-colors verbs-green-bg"
    style="width: 260px; table-layout: fixed; --bs-table-color: #000"
  >
    <thead>
      <tr>
        <th style="text-align: left; padding-left: 12px">INDICATIU</th>
      </tr>
      <tr>
        <th style="text-align: left; font-weight: 400; padding-left: 12px">PRESENT</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td style="text-align: left; padding-left: 12px">vaig</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px">va-s</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px">va</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px">vam</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px">vau</td>
      </tr>
      <tr>
        <td style="text-align: left; padding-left: 12px">van</td>
      </tr>
    </tbody>
  </table>
  <br />
</div>
