<div class="col-sm mt-3 mt-md-0 text-center">
    <table class="table table-sm table-bordered mx-auto verbs-fixed-colors" style="max-width: 780px; width: 100%; table-layout: fixed; --bs-table-color: #000;">
        <thead>
            <tr>
                <th style="text-align: left; padding-left: 12px; background-color: #b8e7b9;">INDICATIU</th>
                <th style="text-align: left; padding-left: 12px; background-color: #e7e7e7;">INFINITIU</th>
                <th style="text-align: left; padding-left: 12px; background-color: #eceb95;">SUBJUNTIU</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9;">PRESENT</td>
                <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7;">tém-er</td>
                <td style="text-align: left; padding-left: 12px; background-color: #eceb95;">PRESENT</td>
            </tr>
            <tr>
                <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9;">tem / tem-o</td>
                <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7; font-weight: 700;">GERUNDI</td>
                <td style="text-align: left; padding-left: 12px; background-color: #eceb95;">tem-a</td>
            </tr>
            <tr>
                <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9;">tem-s</td>
                <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7;">tem-ent</td>
                <td style="text-align: left; padding-left: 12px; background-color: #eceb95;">tem-es</td>
            </tr>
            <tr>
                <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9;">tem</td>
                <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7;">&nbsp;</td>
                <td style="text-align: left; padding-left: 12px; background-color: #eceb95;">tem-a</td>
            </tr>
            <tr>
                <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9;">tem-em</td>
                <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7; font-weight: 700;">PARTICIPI</td>
                <td style="text-align: left; padding-left: 12px; background-color: #eceb95;">tem-em</td>
            </tr>
            <tr>
                <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9;">tem-eu</td>
                <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7;">tem-ut, tem-uda</td>
                <td style="text-align: left; padding-left: 12px; background-color: #eceb95;">tem-eu</td>
            </tr>
            <tr>
                <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9;">tem-en</td>
                <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7;">tem-uts, tem-udes</td>
                <td style="text-align: left; padding-left: 12px; background-color: #eceb95;">tem-en</td>
            </tr>
            <tr>
                <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9;">&nbsp;</td>
                <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9;">&nbsp;</td>
                <td style="text-align: left; padding-left: 12px; background-color: #eceb95;">&nbsp;</td>
            </tr>
            <tr>
                <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9;">PASSAT IMPERFET</td>
                <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9;">PASSAT SIMPLE</td>
                <td style="text-align: left; padding-left: 12px; background-color: #eceb95;">PASSAT IMPERFET</td>
            </tr>
            <tr>
                <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9;">tem-i-a</td>
                <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9;">tem-í</td>
                <td style="text-align: left; padding-left: 12px; background-color: #eceb95;">tem-e-ra / tem-és</td>
            </tr>
            <tr>
                <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9;">tem-i-es</td>
                <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9;">tem-e-res</td>
                <td style="text-align: left; padding-left: 12px; background-color: #eceb95;">tem-e-res / tem-ess-es</td>
            </tr>
            <tr>
                <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9;">tem-i-a</td>
                <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9;">tem-é</td>
                <td style="text-align: left; padding-left: 12px; background-color: #eceb95;">tem-e-ra / tem-és</td>
            </tr>
            <tr>
                <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9;">tem-í-em</td>
                <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9;">tem-é-rem</td>
                <td style="text-align: left; padding-left: 12px; background-color: #eceb95;">tem-é-rem / tem-éss-em</td>
            </tr>
            <tr>
                <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9;">tem-í-eu</td>
                <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9;">tem-é-reu</td>
                <td style="text-align: left; padding-left: 12px; background-color: #eceb95;">tem-é-reu / tem-éss-eu</td>
            </tr>
            <tr>
                <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9;">tem-i-en</td>
                <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9;">tem-e-ren</td>
                <td style="text-align: left; padding-left: 12px; background-color: #eceb95;">tem-e-ren / tem-ess-en</td>
            </tr>
            <tr>
                <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9;">&nbsp;</td>
                <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9;">&nbsp;</td>
                <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7;">&nbsp;</td>
            </tr>
            <tr>
                <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9;">FUTUR</td>
                <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9;">CONDICIONAL</td>
                <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7; font-weight: 700;">IMPERATIU</td>
            </tr>
            <tr>
                <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9;">tem-<u>er</u>-é</td>
                <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9;">tem-<u>er</u>-ia</td>
                <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7;">&nbsp;</td>
            </tr>
            <tr>
                <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9;">tem-<u>er</u>-às</td>
                <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9;">tem-<u>er</u>-ies</td>
                <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7;">tem</td>
            </tr>
            <tr>
                <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9;">tem-<u>er</u>-à</td>
                <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9;">tem-<u>er</u>-ia</td>
                <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7;">tem-a</td>
            </tr>
            <tr>
                <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9;">tem-<u>er</u>-em</td>
                <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9;">tem-<u>er</u>-íem</td>
                <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7;">tem-em</td>
            </tr>
            <tr>
                <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9;">tem-<u>er</u>-eu</td>
                <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9;">tem-<u>er</u>-íeu</td>
                <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7;">tem-eu</td>
            </tr>
            <tr>
                <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9;">tem-<u>er</u>-an</td>
                <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9;">tem-<u>er</u>-ien</td>
                <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7;">tem-en</td>
            </tr>
        </tbody>
    </table>
    <br>
</div>
