<div class="col-sm mt-3 mt-md-0 text-center">
    <table class="table table-sm table-bordered mx-auto verbs-fixed-colors" style="max-width: 780px; width: 100%; table-layout: fixed; --bs-table-color: #000;">
        <thead>
            <tr>
                <th style="text-align: left; padding-left: 12px; background-color: #b8e7b9;">INDICATIU</th>
                <th style="text-align: left; padding-left: 12px; background-color: #e7e7e7;">INFINITIU</th>
                <th style="text-align: left; padding-left: 12px; background-color: #eceb95;">SUBJUNTIU</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9;">PRESENT</td>
                <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7;">perd-re</td>
                <td style="text-align: left; padding-left: 12px; background-color: #eceb95;">PRESENT</td>
            </tr>
            <tr>
                <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9;">perd / perd-o</td>
                <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7; font-weight: 700;">GERUNDI</td>
                <td style="text-align: left; padding-left: 12px; background-color: #eceb95;">perd-a</td>
            </tr>
            <tr>
                <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9;">perd-s</td>
                <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7;">perd-ent</td>
                <td style="text-align: left; padding-left: 12px; background-color: #eceb95;">perd-es</td>
            </tr>
            <tr>
                <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9;">perd</td>
                <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7;">&nbsp;</td>
                <td style="text-align: left; padding-left: 12px; background-color: #eceb95;">perd-a</td>
            </tr>
            <tr>
                <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9;">perd-em</td>
                <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7; font-weight: 700;">PARTICIPI</td>
                <td style="text-align: left; padding-left: 12px; background-color: #eceb95;">perd-em</td>
            </tr>
            <tr>
                <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9;">perd-eu</td>
                <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7;">perd-ut, perd-uda</td>
                <td style="text-align: left; padding-left: 12px; background-color: #eceb95;">perd-eu</td>
            </tr>
            <tr>
                <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9;">perd-en</td>
                <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7;">perd-uts, perd-udes</td>
                <td style="text-align: left; padding-left: 12px; background-color: #eceb95;">perd-en</td>
            </tr>
            <tr>
                <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9;">&nbsp;</td>
                <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9;">&nbsp;</td>
                <td style="text-align: left; padding-left: 12px; background-color: #eceb95;">&nbsp;</td>
            </tr>
            <tr>
                <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9;">PASSAT IMPERFET</td>
                <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9;">PASSAT SIMPLE</td>
                <td style="text-align: left; padding-left: 12px; background-color: #eceb95;">PASSAT IMPERFET</td>
            </tr>
            <tr>
                <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9;">perd-i-a</td>
                <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9;">perd-í</td>
                <td style="text-align: left; padding-left: 12px; background-color: #eceb95;">perd-e-ra / perd-és</td>
            </tr>
            <tr>
                <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9;">perd-i-es</td>
                <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9;">perd-e-res</td>
                <td style="text-align: left; padding-left: 12px; background-color: #eceb95;">perd-e-res / perd-ess-es</td>
            </tr>
            <tr>
                <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9;">perd-i-a</td>
                <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9;">perd-é</td>
                <td style="text-align: left; padding-left: 12px; background-color: #eceb95;">perd-e-ra / perd-és</td>
            </tr>
            <tr>
                <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9;">perd-í-em</td>
                <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9;">perd-é-rem</td>
                <td style="text-align: left; padding-left: 12px; background-color: #eceb95;">perd-é-rem / perd-éss-em</td>
            </tr>
            <tr>
                <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9;">perd-í-eu</td>
                <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9;">perd-é-reu</td>
                <td style="text-align: left; padding-left: 12px; background-color: #eceb95;">perd-é-reu / perd-éss-eu</td>
            </tr>
            <tr>
                <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9;">perd-i-en</td>
                <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9;">perd-e-ren</td>
                <td style="text-align: left; padding-left: 12px; background-color: #eceb95;">perd-e-ren / perd-ess-en</td>
            </tr>
            <tr>
                <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9;">&nbsp;</td>
                <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9;">&nbsp;</td>
                <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7;">&nbsp;</td>
            </tr>
            <tr>
                <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9;">FUTUR</td>
                <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9;">CONDICIONAL</td>
                <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7; font-weight: 700;">IMPERATIU</td>
            </tr>
            <tr>
                <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9;">perd-r-é</td>
                <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9;">perd-r-ia</td>
                <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7;">&nbsp;</td>
            </tr>
            <tr>
                <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9;">perd-r-às</td>
                <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9;">perd-r-ies</td>
                <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7;">perd</td>
            </tr>
            <tr>
                <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9;">perd-r-à</td>
                <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9;">perd-r-ia</td>
                <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7;">perd-a</td>
            </tr>
            <tr>
                <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9;">perd-r-em</td>
                <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9;">perd-r-íem</td>
                <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7;">perd-em</td>
            </tr>
            <tr>
                <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9;">perd-r-eu</td>
                <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9;">perd-r-íeu</td>
                <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7;">perd-eu</td>
            </tr>
            <tr>
                <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9;">perd-r-an</td>
                <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9;">perd-r-ien</td>
                <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7;">perd-en</td>
            </tr>
        </tbody>
    </table>
    <br>
</div>
