<div class="col-sm mt-3 mt-md-0 text-center">
    <table class="table table-sm table-bordered mx-auto verbs-fixed-colors" style="max-width: 780px; width: 100%; table-layout: fixed; --bs-table-color: #000;">
        <thead>
            <tr>
                <th style="text-align: left; padding-left: 12px; background-color: #b8e7b9;">INDICATIU</th>
                <th style="text-align: left; padding-left: 12px; background-color: #e7e7e7;">INFINITIU</th>
                <th style="text-align: left; padding-left: 12px; background-color: #eceb95;">SUBJUNTIU</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9;">Passat indefinit</td>
                <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7;">haver perdut</td>
                <td style="text-align: left; padding-left: 12px; background-color: #eceb95;">Passat perfet</td>
            </tr>
            <tr>
                <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9;">he perdut</td>
                <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7; font-weight: 700;">GERUNDI</td>
                <td style="text-align: left; padding-left: 12px; background-color: #eceb95;">haj-a perdut</td>
            </tr>
            <tr>
                <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9;">has perdut</td>
                <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7;">havent perdut</td>
                <td style="text-align: left; padding-left: 12px; background-color: #eceb95;">hag-es perdut</td>
            </tr>
            <tr>
                <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9;">ha perdut</td>
                <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7;">&nbsp;</td>
                <td style="text-align: left; padding-left: 12px; background-color: #eceb95;">haj-a perdut</td>
            </tr>
            <tr>
                <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9;">hem / hav-em perdut</td>
                <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7;">&nbsp;</td>
                <td style="text-align: left; padding-left: 12px; background-color: #eceb95;">hàg-em perdut</td>
            </tr>
            <tr>
                <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9;">heu / hav-eu perdut</td>
                <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7;">&nbsp;</td>
                <td style="text-align: left; padding-left: 12px; background-color: #eceb95;">hàg-eu perdut</td>
            </tr>
            <tr>
                <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9;">han perdut</td>
                <td style="text-align: left; padding-left: 12px; background-color: #e7e7e7;">&nbsp;</td>
                <td style="text-align: left; padding-left: 12px; background-color: #eceb95;">hag-en perdut</td>
            </tr>
            <tr>
                <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9;">&nbsp;</td>
                <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9;">&nbsp;</td>
                <td style="text-align: left; padding-left: 12px; background-color: #eceb95;">&nbsp;</td>
            </tr>
            <tr>
                <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9;">PASSAT PLUSQUAMPERFET</td>
                <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9;">PASSAT ANTERIOR</td>
                <td style="text-align: left; padding-left: 12px; background-color: #eceb95;">PASSAT PLUSQUAMPERFET</td>
            </tr>
            <tr>
                <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9;">hav-i-a perdut</td>
                <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9;">hagu-í perdut</td>
                <td style="text-align: left; padding-left: 12px; background-color: #eceb95;">hagu-e-ra / hagu-és perdut</td>
            </tr>
            <tr>
                <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9;">hav-i-es perdut</td>
                <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9;">hagu-e-res perdut</td>
                <td style="text-align: left; padding-left: 12px; background-color: #eceb95;">hagu-e-res / hagu-ess-es perdut</td>
            </tr>
            <tr>
                <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9;">hav-i-a perdut</td>
                <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9;">hagu-é perdut</td>
                <td style="text-align: left; padding-left: 12px; background-color: #eceb95;">hagu-e-ra / hagu-és perdut</td>
            </tr>
            <tr>
                <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9;">hav-í-em perdut</td>
                <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9;">hagu-é-rem perdut</td>
                <td style="text-align: left; padding-left: 12px; background-color: #eceb95;">hagu-é-rem / hagu-éss-em perdut</td>
            </tr>
            <tr>
                <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9;">hav-í-eu perdut</td>
                <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9;">hagu-é-reu perdut</td>
                <td style="text-align: left; padding-left: 12px; background-color: #eceb95;">hagu-é-reu / hagu-éss-eu perdut</td>
            </tr>
            <tr>
                <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9;">hav-i-en perdut</td>
                <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9;">hagu-e-ren perdut</td>
                <td style="text-align: left; padding-left: 12px; background-color: #eceb95;">hagu-e-ren / hagu-ess-en perdut</td>
            </tr>
            <tr>
                <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9;">&nbsp;</td>
                <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9;">&nbsp;</td>
                <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9;">&nbsp;</td>
            </tr>
            <tr>
                <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9;">FUTUR PERFET</td>
                <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9;">CONDICIONAL</td>
                <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9;">PASSAT PERIFRÀSTIC</td>
            </tr>
            <tr>
                <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9;">hau-r-é perdut</td>
                <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9;">hau-r-ia perdut</td>
                <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9;">vaig perdre</td>
            </tr>
            <tr>
                <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9;">hau-r-às perdut</td>
                <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9;">hau-r-ies perdut</td>
                <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9;">vas perdre</td>
            </tr>
            <tr>
                <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9;">hau-r-à perdut</td>
                <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9;">hau-r-ia perdut</td>
                <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9;">va perdre</td>
            </tr>
            <tr>
                <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9;">hau-r-em perdut</td>
                <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9;">hau-r-iem perdut</td>
                <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9;">anem perdre</td>
            </tr>
            <tr>
                <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9;">hau-r-eu perdut</td>
                <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9;">hau-r-ieu perdut</td>
                <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9;">aneu perdre</td>
            </tr>
            <tr>
                <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9;">hau-r-an perdut</td>
                <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9;">hau-r-ien perdut</td>
                <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9;">van perdre</td>
            </tr>
            <tr>
                <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9;">&nbsp;</td>
                <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9;">&nbsp;</td>
                <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9;">PASSAT ANTERIOR PERIFRÀSTIC</td>
            </tr>
            <tr>
                <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9;">&nbsp;</td>
                <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9;">&nbsp;</td>
                <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9;">vaig haver perdre</td>
            </tr>
            <tr>
                <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9;">&nbsp;</td>
                <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9;">&nbsp;</td>
                <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9;">vas haver perdre</td>
            </tr>
            <tr>
                <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9;">&nbsp;</td>
                <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9;">&nbsp;</td>
                <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9;">va haver perdre</td>
            </tr>
            <tr>
                <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9;">&nbsp;</td>
                <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9;">&nbsp;</td>
                <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9;">anem haver perdre</td>
            </tr>
            <tr>
                <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9;">&nbsp;</td>
                <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9;">&nbsp;</td>
                <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9;">aneu haver perdre</td>
            </tr>
            <tr>
                <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9;">&nbsp;</td>
                <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9;">&nbsp;</td>
                <td style="text-align: left; padding-left: 12px; background-color: #b8e7b9;">van haver perdre</td>
            </tr>
        </tbody>
    </table>
    <br>
</div>
